[data-sal] {
  transition-delay: 0s
}

[data-sal],
[data-sal][data-sal-duration="200"] {
  transition-duration: .2s
}

[data-sal][data-sal-duration="1000"] {
  transition-duration: 1s
}

[data-sal][data-sal-easing=ease-in-out] {
  transition-timing-function: ease-in-out
}

[data-sal|=slide] {
  opacity: 0;
  transition-property: opacity, transform
}

[data-sal=slide-left] {
  transform: translateX(20%)
}

[data-sal=slide-right] {
  transform: translateX(-20%)
}

[data-sal|=slide].sal-animate,
body.sal-disabled [data-sal|=slide] {
  opacity: 1;
  transform: none
}

/*# sourceMappingURL=sal.css.map*/