* {
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0;
	font-size: 2.2rem;
	color: #364154;
}

h2 {
	text-transform: uppercase;
}

#navbar {
	/* border: 1px solid green; */
	transition: 0.4s;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 99;
	background: #fff;
	padding: 30px 0px;
	box-sizing:border-box;
	/* Below This Is Likely Uneeded */
	/* max-height: 200px; */
	/* display: inline-block; */
	/* clear: both; */}

.nav-container {
	/* border: 1px solid blue; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	width: 100%;
}

#navbar-left {
	/* border: 1px solid green; */
	padding: 1rem 0 1rem 1rem;
	flex-shrink: 2;
}

#home-link {
	/* border: 1px solid black; */
	display: block;
	max-width: 100%;
}

#logo-img {
	/* border: 1px solid red; */
	display: block;
	max-width: 250px;
	height: auto;
	/* Below This Is Likely Uneeded */
	/* width: 100%; */
	/* max-width: 300px; */
	/* background: url('/images/spire-full-color-logo.png') no-repeat; */
	/* width: 300px; */
	/* height: 100px; */
	/* background-size: contain; */
	/* display: inline-block; */
	/* margin: 0px 0px; */
	/* margin: 1rem; */
}

#navbar #logo {
	transition: 0.4s;
	/* Below This Is Likely Uneeded */
	/* font-weight: bold; */
	/* padding: 10px 50px;*/
	/* display: inline-block; */
	/* height: 100%;
	overflow: hidden;
	font-size: 0px;
	line-height: normal;  */
} 



.topnav {
	overflow: hidden;
	padding: 0px 50px;
}

.topnav a {
	float: left;
	display: block;
	color: #325883;
	text-align: center;
	padding: 40px 16px;
	text-decoration: none;
	font-size: 17px;
}

.active {
	color: #b7252b;
}

.topnav .icon {
	display: none;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 17px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: sans-serif;
	margin: 0;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: #262626;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
	color: #b7252b;
	border-bottom: #b7252b solid 3px;
	padding: 40px 16px 15px;
}

.dropdown-content a:hover {
	background-color: #efc2c2;
	color: #000;
}

.dropdown:hover .dropdown-content {
	display: block;
}

@media screen and (max-width: 600px) {

	.topnav a,
	.topnav button {
		display: none;
	}

	.topnav a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 600px) {
	.topnav.responsive {
		position: relative;
	}

	.topnav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}

	.topnav.responsive .dropdown {
		float: none;
	}

	.topnav.responsive .dropdown-content {
		position: relative;
	}

	.topnav.responsive .dropdown .dropbtn {
		display: block;
		width: 100%;
		text-align: left;
	}
}

.mySlides {
	display: none;
	transition: opacity .5s;
}



.white {
	background: #fff;
}

.ltgrey {
	background: #efefef;
}

.greyblue {
	background: #D7D9E3;
}


.red {
	background: #156296;
}

.red h3 {
	color: #fff;
}

.red .h-under {
	border-bottom: 3px solid #fff;
}

.darkblue {
	background: #364154;
	color: #fff;
}

.darkblue h3 {
	color: #fff;
}

.darkblue a {
	color: #fff;
}

.darkblue a:hover {
	color: #DB3332;
}



.home-about {
	padding: 120px;
}

.joinus {
	padding: 80px 20px;
	width: 68%;
}


.p100 {
	padding: 0px;
}

.ptb100 {
	padding: 0px;
}

.p50 {
	padding: 0px;
}

.ptb30 {
	padding: 0px;
}

.mt50 {
	margin-top: 0px;
}



/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 850px) {
	.p100 {
		padding: 50px;
	}

	.ptb100 {
		padding: 50px 25px;
	}

	.p50 {
		padding: 50px;
	}

	.ptb30 {
		padding: 30px 0px;
	}

	.mt50 {
		margin-top: 50px;
	}
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}




.h-under {
	width: 150px;
	border-bottom: 3px solid #DB3332;
	margin-bottom: 50px;
}


.h-under-center {
	width: 150px;
	border-bottom: 3px solid #DB3332;
	margin: 0 auto 50px;
}

.center {
	text-align: center;
	margin: 0 auto;
}

.service {
	background: #364154;
	color: #E8E5E5;
	padding: 20px;
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .3rem;
	word-wrap: break-word;
	min-height: 300px;

}

.service img {
	display: block;
	margin-bottom: 10px;
	text-align: center;
	margin: 0 auto;
	width: 100%;
	max-width: 200px;
}

.service-button {
	text-align: center;
	background: #E8E5E5;
	color: #156296;
	padding: 15px 0px;
	width: 100%;
	margin: 0 auto;
	font-size: 1.8rem;
	text-decoration: none;
	display: inline-block;
}

.service-button:hover {
	background: #156296;
	color: #E8E5E5;
}

.arrow:hover:before {
	content: '';
	border-style: solid;
	border-width: 0 15px 15px 15px;
	border-color: transparent transparent #156296 transparent;
	z-index: 999999;
	position: absolute;
	margin: -15px auto;
	margin-left: 8.5%;
}


.counter-value {
	font-size: 25.0rem;
	color: #374964;
	text-align: center;
	line-height: 30rem;
}

.counter-title {
	display: block;
	padding: 0px 50px;
	color: #fff;
	text-align: center;
	font-size: 13px;
	font-weight: 600;
	line-height: 43px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: #156296;
	border-radius: 25px;
	border: 3px solid #156296;
	margin: 0 auto;
	width: 150px;
}



.joinusbg {
	background: #efefef url(http://spire.athgraphics.com/images/joinus.jpg) no-repeat 0 0;
	width: 100%;
	margin: 0;
	text-align: center;
	min-height: 700px;
	padding-top: 120px;
	box-sizing: border-box;

}

/* Slider */
/* .slick-slide {
	margin: 0px 1px;
}

.slick-slide img {
	width: 100%;
	max-height: 200px;
	max-width: 200px;
	margin: 0 auto;
}

.slick-slider {
	position: relative;

	display: block;
	box-sizing: border-box;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;

	display: block;
	overflow: hidden;

	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;

	display: block;
}

.slick-track:before,
.slick-track:after {
	display: table;

	content: '';
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}

[dir='rtl'] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;

	height: auto;

	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
} */


.foot-logo {
	width: 100%;
	max-width: 100px;
	text-align: center;
}

.container1 {
	width: 100%;
	display: flex;
	align-items: flex-start;
	height: 100vh;
	flex-wrap: wrap;
}

.team-container {
	padding: 0 30px;
	box-sizing: border-box;
	max-width: 1600px;
	width: 100%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	height: auto;
	align-items: flex-start;
}

.person {
	width: calc(25% - 30px);
	cursor: pointer;
	overflow: hidden;
	transition: 0.45s;
	position: relative;
}

.person-details {
	padding: 0 20px;
	box-sizing: border-box;
	margin-top: -15px;
	transition: 0.3s;
}

.person-img {
	width: 100%;
}

.person-title {
	color: #156296;
	font-size: 2em;
}

.person-desc {
	color: #364154;
	margin-top: 0px;
	margin-bottom: 0px;
	text-transform: uppercase;
	font-size: 0.8em;
	letter-spacing: 2px;
}

.person-list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
}

.person-list:hover .person {
	opacity: 0.6;
}

.person:hover {
	opacity: 1 !important;
}

.person:before {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #b7252b;
	content: "";
	height: 0px;
	transition: 0.45s;
}

.person:after {
	content: "\f053";
	font-family: FontAwesome;
	font-size: 36px;
	color: #fff;
	position: absolute;
	width: 100%;
	top: 0;
	height: 100%;
	display: flex;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
	text-align: center;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	left: 0;
	flex-direction: column;
}

.container-selected .header {
	max-height: 0px;
}

.container-selected .person {
	opacity: 0 !important;
	pointer-events: none;
}

.container-selected .person-list .person-selected {
	opacity: 1 !important;
}

.container-selected .person-list .person-selected:before {
	height: 100%;
}

.container-selected .person-list .person-selected .person-details {
	margin-top: -40px;
	opacity: 0;
}

.team-detail {
	position: absolute;
	width: calc(100% - 100px);
	right: 80px;
	top: 0;
	height: 100%;
	color: #000;
	transition: 0.15s;
	opacity: 0;
	visibility: hidden;
	box-sizing: border-box;
}

.team-detail-bio-content p {
	margin-bottom: 15px;
	line-height: 25px;
	font-size: 2.0rem;
	color: #364154;
}

.team-detail-header {
	margin-bottom: 15px;
}

.team-detail-inner {
	min-height: 100%;
	display: flex;
	flex-wrap: wrap;
}

.team-detail-left {
	position: relative;
	width: 650px;
	min-height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.team-detail-left:before {
	width: 100%;
	height: 100%;
	content: "";
	background: rgba(255, 255, 255, 0.8);
	position: absolute;
	right: 0;
	top: 0;
}

.team-detail-left:after {
	width: 100%;
	height: 100%;
	content: "";
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 9%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0) 38%, rgba(255, 255, 255, 1) 92%, rgba(255, 255, 255, 1) 100%);
	position: absolute;
	right: 0;
	top: 0;
}

.team-detail-photo {
	position: relative;
	text-align: center;
	z-index: 9;
	width: 100%;
	font-size: 0px;
}

.team-detail-photo img {
	max-width: 100%;
	box-shadow: 0 10px 22px rgba(0, 0, 0, .3);
}

.team-detail-right {
	box-sizing: border-box;
	width: calc(100% - 650px);
	min-height: 100%;
	display: flex;
	align-items: center;
	padding-right: 10%;
	position: relative;
	right: 0;
	flex-wrap: wrap;
	background: #fff;
}

.team-detail-right .person-title {
	font-size: 2.2em;
}

.container-ready .team-detail {
	transition: 0.45s ease 0.3s;
	opacity: 1;
	right: 0;
	visibility: visible;
}

.container-ready .team-detail img {
	width: 75%;
}

.container-ready .team-container {
	height: 0px;
	overflow: hidden;
}

.container-ready .person-selected {
	left: 0px !important;
	top: 0px !important;
	z-index: 9;
	height: 100% !important;
	width: 100px !important;
	pointer-events: auto;
}

.container-ready .person-selected:after {
	opacity: 1;
	visibility: visible;
}

.person-back:before {
	height: 0px !important;
}

.person-back .person-details {
	margin-top: -15px !important;
	transition-delay: 0.35s;
	opacity: 1 !important;
}

.social a {
	color: #156296;
	font-size: 20px;
	margin-right: 8px;
}

.social a:last-child {
	margin-right: 0;
}

@media (max-width: 1200px) {
	.team-detail-left {
		width: 400px;
		padding: 0 40px;
		box-sizing: border-box;
	}

	.team-detail-right {
		padding-right: 0;
		width: calc(100% - 440px);
		background: #fff;
	}

	.person .person-title {
		font-size: 1.7em;
	}

	.person-details {
		padding: 0 10px;
	}
}

@media (max-width: 970px) {
	.team-detail-left {
		width: 100%;
		padding: 50px 50px 30px 50px;
	}

	.team-detail-left:after {
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 83%, rgba(255, 255, 255, 1) 100%);
	}

	.team-detail-right {
		padding: 0 50px;
		width: 100%;

		background: #fff;
	}

	.team-detail-header {
		text-align: center;
	}

	.container-ready .person-selected {
		width: 50px !important;
	}

	.team-detail {
		width: calc(100% - 50px);
	}

	.person {
		width: calc(50% - 20px);
	}
}

@media (max-width: 480px) {
	.person {
		width: 100%;
		margin-bottom: 50px;
	}

	.header {
		margin-top: 50px;
	}
}




.l-grid-half {
	width: 50%;
}

.l-flex-parent {
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

.l-flex-child {
	/* padding: 1em; */
	padding: 1em 0;
	min-height: 300px;
	align-items: flex-end;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;

}

.r-flex-child {
	/* padding: 1em; */
	padding: 1em 0;
	min-height: 300px;
	align-items: flex-start;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;

}

.gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
	padding: 50px 200px;
}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 30rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}



.modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #efefef;
	text-align: center;
	box-sizing: border-box;
	width: 80%;
	padding: 50px;
}

.modal.visible {
	display: block;
}

blockquote {
	clear: both;
	padding: 30px;
	background: #156296;
	;
	margin: 0px 60px 50px;
	;
}

blockquote p {
	font-size: 3.2rem;
	color: #fff;
	text-align: center;
	margin: 0px;
}

h3 {
	display: block;
}

.break {
	flex-basis: 100%;
	height: 0;
}

.linkedin {
	margin: 20px 0px;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin: 0px auto;
}

/* Zebra striping */
tr:nth-of-type(odd) {
	background: #efefef;
}

th {
	background: #156296;
	color: white;
	font-weight: bold;
}

td,
th {
	padding: 10px;
	border: 1px solid #c0cdd6;
	text-align: left;
	font-size: 18px;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

	table {
		width: 100%;
	}

	/* Force table to not be like tables anymore */
	table,
	thead,
	tbody,
	th,
	td,
	tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}


	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #c0cdd6;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #156296;
		font-weight: bold;
	}

}



nav ul {
	margin: 0;
	padding: 0 30px;
	list-style-type: none;
	position: relative;
}

nav ul li {
	display: inline-block;

}

nav ul li a {
	color: #325883;
	text-decoration: none;
	padding: 40px 15px;
	display: block;
	font-size: 1.4rem;
}

nav ul li a:hover {
	margin-bottom: -3px;
}

nav ul li:hover {
	color: #b7252b;
	border-bottom: #b7252b solid 3px;
}

nav ul ul {
	position: absolute;
	min-width: 200px;
	display: none;
	margin-top: 3px;
	padding: 0px;
}

nav ul ul li {
	display: block;
	background: #156296;
	color: #fff;
	margin-bottom: 0px;
}

nav ul ul li a {
	color: #fff;
	padding: 20px 15px;
}

nav ul ul li:hover {
	background: #b7252b;
	border-bottom: 0px;
	margin-top: 0px;
}

nav ul ul li a:hover {
	color: #fff;
}

nav ul li:hover ul {
	display: block;
}

nav ul li i {
	color: #292929;
	float: right;
	padding-left: 20px;
}

nav div {
	color: #156296;
	font-size: 24px;
	padding: 0.6em;
	cursor: pointer;
	display: none;
	margin: 0 auto;
	text-align: center;
}

@media(max-width: 950px) {
	nav div {
		display: block;
	}

	nav ul {
		display: none;
		position: static;
	}

	nav ul li {
		display: block;
	}

	nav ul li a {
		padding: 20px 15px;
	}

	nav ul ul {
		position: static;
		background: #e3e3e3;
	}

	#navbar-right {
		display: block;
		float: none;
	}
}

li.no-child:hover,
li.no-child.hover {
	display: block;
}

.smallhide {
	display: none;
}

.joinus {
	padding: 0px;
	width: 90%;
}

.l-flex-parent {
	display: flex;
	flex-direction: column;
}

.l-grid-half {
	width: 100%;
}

@media (min-width: 850px) {

	.smallhide {
		display: block;
	}

	.joinus {
		padding: 80px 20px;
		width: 68%;
	}

	.l-flex-parent {
		display: flex;
		flex-direction: row;
	}

	.l-grid-half {
		width: 50%;
	}

}

.animated {
	padding: 0;
}

.first {
	margin-top: 172px;
}

.offices-container {
	display: flex;
	justify-content: space-around;
}

@media screen and (max-width: 1199px) {
	.offices-container {
		flex-direction: column;
	}
	.office-two {
		padding: 2rem 0 1rem 0;
	}
}

@media screen and (max-width: 819px) {
	h3 {
		margin-top: 2rem;
	}
}