.card__inner>img {
  display: block;
}

.team-card-inner {
  width: 90%;
}

.team-card-inner > .button.button-primary {
  width: 100%;
  height: 6rem;
}

.innercard:first-of-type {
  /* border: 1px solid black; */
  max-width: 40%;
}

.intext {
  width: 60%;
}

.intext {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 991px) {
  .innercard:first-of-type,
  .intext {
    width: 100%;
    max-width: unset;
  }
}

@media screen and (min-width: 768px) {
  .card__expander {
    width: calc(400% + 60px);
  }

  .card:nth-of-type(4n+2) .card__expander {
    margin-left: calc(-100% - 20px);
  }

  .card:nth-of-type(4n+3) .card__expander {
    margin-left: calc(-200% - 40px);
  }

  .card:nth-of-type(4n+4) .card__expander {
    margin-left: calc(-300% - 60px);
  }
}

@media screen and (min-width: 1366px) {
  .leadership-cards .card__expander {
    width: calc(1200% + 26rem);
  }

  /* Leadership Cards Column 2 Card 1 */
  .leadership-cards:nth-of-type(3n + 2) .card:nth-of-type(4n + 1) .card__expander {
    margin-left: calc(-400% - 10rem);
  }

  /* Leadership Cards Column 2 Card 2 */
  .leadership-cards:nth-of-type(3n + 2) .card:nth-of-type(4n + 2) .card__expander {
    margin-left: calc(-500% - 12rem);
  }

  /* Leadership Cards Column 2 Card 3 */
  .leadership-cards:nth-of-type(3n + 2) .card:nth-of-type(4n + 3) .card__expander {
    margin-left: calc(-600% - 14rem);
  }

  /* Leadership Cards Column 2 Card 4 */
  .leadership-cards:nth-of-type(3n + 2) .card:nth-of-type(4n + 4) .card__expander {
    margin-left: calc(-700% - 16rem);
  }

  /* Leadership Cards Column 3 Card 1 */
  .leadership-cards:nth-of-type(3n + 3) .card:nth-of-type(4n + 1) .card__expander {
    margin-left: calc(-800% - 20rem);
  }

  /* Leadership Cards Column 3 Card 2 */
  .leadership-cards:nth-of-type(3n + 3) .card:nth-of-type(4n + 2) .card__expander {
    margin-left: calc(-900% - 22rem);
  }

  /* Leadership Cards Column 3 Card 3 */
  .leadership-cards:nth-of-type(3n + 3) .card:nth-of-type(4n + 3) .card__expander {
    margin-left: calc(-1000% - 24rem);
  }

  /* Leadership Cards Column 3 Card 4 */
  .leadership-cards:nth-of-type(3n + 3) .card:nth-of-type(4n + 4) .card__expander {
    margin-left: calc(-1100% - 26rem);
  }
}

@media screen and (max-width: 1365px) {
  .leadership-cards .card__expander {
    width: calc(400% + 6rem);
  }
}

@media screen and (max-width: 767px) {
  .leadership-cards .card__expander {
    width: 100%;
  }
}