#cards {
  /* justify-content: center; */
  /* display: flex; */
  /* flex-flow: row wrap; */
}

.cards {
  box-sizing: border-box;
  /* border: 1px solid black; */

  display: flex;
  flex-flow: row wrap;
}

.innercard,
.intext {
  box-sizing: border-box;
}

.innercard {
  display: flex;
  flex-flow: row wrap;
  /* margin: 15px; */
  /* width: calc((100% / 2) - 30px); */
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: flex-start;
  padding: 40px;
  box-sizing: border-box;
}

.hidden {
  display: none
}

.card img {
  display: block;
}

.card:hover .card__inner {
  transform: scale(1.05);
}

.overlay img {
  width: 100%;
  max-width: 200px;
}

.card__inner {
  box-sizing: border-box;
  position: relative;
}

.overlay {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #156296;
  opacity: 0;
  transition: .5s ease;
  color: #fff;
  font-size: 2.2rem;
}

.card {
  box-sizing: border-box;
  width: 25%;
  padding: 1rem;
}

.card__expander {
  box-sizing: border-box;
}

.card__inner:hover .overlay {
  opacity: 0.8;
}



.card__inner:after {
  transition: all 0.3s ease-in-out;
}

.card__inner .fa {
  width: 100%;
  margin-top: 0.25em;
}

/* marker1 */
.card__expander {
  transition: all 0.2s ease-in-out;
  background-color: #156296;
  width: 100%;
  position: relative;
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: flex-start;
  color: #eceef1;
  padding: 15px;
}

.card__expander .fa {
  font-size: 0.75em;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.card__expander .fa:hover {
  opacity: 0.9;
}

.card.is-collapsed .card__inner:after {
  content: "";
  opacity: 0;
}

.card.is-collapsed .card__expander {
  max-height: 0;
  min-height: 0;
  overflow: hidden;
  margin-top: 0;
  opacity: 0;
}

.card.is-expanded .card__inner:after {
  content: "";
  opacity: 1;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 15px);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #156296;
}

.card.is-expanded .card__inner .fa:before {
  content: "\f115";
}

.card.is-expanded .card__expander {
  /* max-height: 1000px; */
  min-height: 200px;
  overflow: visible;
  margin-top: 30px;
  opacity: 1;
}

.card.is-expanded:hover .card__inner {
  transform: scale(1);
}

.card.is-inactive .card__inner {
  pointer-events: none;
  opacity: 0.5;
}

.card.is-inactive:hover .card__inner {
  transform: scale(1);
}

.intext {
	font-size: 1.8rem;
	margin-left: -40px;
  padding-right: 20px;
  /* width: 60%; */
  /* border: 1px solid red; */
}

.intextsmall {
	font-size: 1.4rem;
}

.intext h3 {
	font-size: 2.5rem;
	color: #fff;
	display: block;
}

.intexthead {
	display: block;
	width: 100%;
}

.intext p {
	display: block;
}

.intext h4 {
	font-size: 1.8rem;
	color: #fff;
	display: block;
}

.intext ul {
  list-style-type: circle;
  list-style-position: outside;
  margin-left: 1em;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .card__expander {
    flex-direction: column;
  }

  .innercard {
    padding-bottom: 0;
  }

  .intext {
    box-sizing: border-box;
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .card.is-expanded .card__expander {
    max-height: none;
    min-height: none;
  }

  .card__expander {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .innercard {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 1.5rem 1rem 1rem 1rem;
  }

  .innercard>img {
    margin-top: 1.5rem;
  }

  .cards {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  .card__expander {
    width: 100%;
  }
}