.cards {
  width: calc(100% - 50px);
  margin: 0 auto;
}

.overlay {
  flex-direction: column;
}

.card {
  width: calc(100% / 3);
}

.innercard {
  box-sizing: border-box;
  width: 100%;
}


@media screen and (min-width: 768px) {
  .card__expander {
    width: calc(300% + 40px);
  }
  .card:nth-of-type(3n+2) .card__expander {
    margin-left: calc(-100% - 20px);
  }

  .card:nth-of-type(3n+3) .card__expander {
    margin-left: calc(-200% - 40px);
  }
}

@media screen and (max-width: 767px) {
  .card {
    width: 100%;
  }
}