/* Accordion */
.services-headline-wrapper {
  text-align: center;
}

.services {
  display: flex;
  flex-direction: column;
}

.service-accordion-header,
.service-accordion-body {
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
}

.service-accordion-header {
  margin: 0 auto;
}

.ui-accordion-header-active {
  /* color: #DB3332; */
  transition: color 0.5s ease-in-out;
}

.service-accordion-header:focus {
  outline: none;
}

.ui-accordion-header-collapsed {
  padding: 1rem;
}
.ui-accordion-header-collapsed:hover {
  cursor: pointer;
  color: #364154;
  background: rgb(242, 242, 242);
  box-shadow: 3px 3px 3px darkgray;
}

@media screen and (max-width: 767px) {
  .service-accordion-header,
  .service-accordion-body {
    width: calc(100% - 1rem);
  }

  .services.section {
    padding: 2rem 0;
  }
}