.approach {
  padding-top: 50px;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Slider  */
.approach-slider {
  /* border: 1px solid red; */
  display: flex !important;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80%;
  /* width: auto; */
}

.slick-list {
  width: 50%;
}

.slider-image {
  filter: blur(1rem);
  width: 100%;
  height: auto;
}

.slick-arrow {
  position: absolute;
  bottom: 2rem;
  z-index: 3;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-prev {
  transform: rotate(180deg);  
  right: 50%;
}

.slick-next {
  left: 50%;
}

.slick-arrow > .arrow {
  fill: #DB3332;
  stroke: #DB3332;
}

.slick-arrow:hover > .arrow {
  fill: #156296;
  stroke: #156296;
}

.slick-slide {
  position: relative;
}

.slide-content {
  position: absolute;
  z-index: 2;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  background: rgba(0,0,0,0.5);
}

.slide-content-headline {
  color: white;
  text-align: center;
}

@media screen and (max-width: 1366px) {
  .slick-list {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .approach-slider {
    max-width: unset;
    width: 100%;
  }
  .slick-list {
    width: 100%;
  }

  .slide-content-body {
    display: none;
  }
}

/* Old Block Style */
/* .approach {
  padding-top: 50px;
  box-sizing: border-box;
}

.approach-list {
  list-style-type: disc;
}

.approach>h2 {
  text-align: center;
}

.block-wrapper {
  display: grid;
  grid-template-rows: 1fr 64px 1fr;
  grid-template-columns: 1fr 64px 1fr;
  grid-gap: 1rem;
  padding: 1rem;
  width: 80%;
  margin: 0 auto;
}

.block {
  background: #156296;
  color: white;
  padding: 4rem 2rem;
  font-size: 2rem;
  line-height: 2.25rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block>h3 {
  text-align: center;
  color: white;
}

.arrow-wrapper {
  display: grid;
  justify-items: center;
  align-items: center;
}

.arrow-wrapper img {
  max-height: 100%;
}

@media screen and (max-width: 1024px) {
  .block-wrapper {
    width: calc(100% - 2rem);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .arrow-wrapper,
  .space {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .block {
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .block-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
} */