.contact-modal-wrapper {
  /* border: 1px solid red; */
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: none;

  z-index: 100;
}

.contact-modal-showing {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-modal-overlay {
  /* border: 1px solid green; */
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
}

.contact-modal-form {
  /* border: 1px solid purple; */

  z-index: 101;
  width: 80%;
}

.modal-success-alert {
  display: flex;
  justify-content: center;
}

.contact-modal-label,
.contact-modal-submit,
.modal-success-alert {
  color: white !important;
}