.goal {
  display: flex;
  flex-direction: column;
}

.blue-block-wrapper {
  background: #364154;
}

.gray-block-wrapper {
  background: rgb(242, 242, 242);
}

/* Blue Bar */
.blue-bar-content,
.gray-bar-content {
  max-width: 1440px;
  padding-top: 20px;
  margin: 0 auto;
}

.blue-bar-content > .h-under-center,
.gray-bar-content > .h-under-center {
  margin-bottom: 2rem;
}

.blue-bar-headline,
.blue-bar-content,
.gray-bar-headline,
.gray-bar-content {
  text-align: center;
}

.blue-bar-headline,
.blue-bar-content {
  color: white;
}

.goal-section{
  padding-top: 20px;
  padding-bottom: 0;
}

.contact-person {
  border: none;
  background-color: inherit;
  font-size: inherit;
  color: inherit;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

.contact-person:hover {
  cursor: pointer;
  background: #f2f2f2;
}

@media screen and (max-width: 1366px) {
  .blue-bar-content,
  .goal-section,
  .contact-section {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .blue-bar-content,
  .goal-section,
  .contact-section {
    width: calc(100% - 1rem);
  }
}