<perch:before><ul></perch:before><li><a href="<perch:pages id="pagePath">"><perch:pages id="pageNavText"><perch:if exists="subitems"> <i class="fas fa-angle-down"></i></perch:if></a><perch:pages id="subitems" encode="false"></li><perch:after></ul></perch:after>