.small-padding {
  padding: 2rem;
}

.small-padding>p:last-of-type {
  margin-bottom: 0;
}

.r-flex-child.no-padding {
  padding: 0;
}

#portfolio-map {
  width: 70%;
}

.marker {
  background-size: cover;
  width: 4rem;
  height: 4.601625rem;
  /* width: 4rem;
  height: 3rem; */
  /* height: 7rem; */
  /* border-radius: 50%; */
  cursor: pointer;
}

/* .restaurant-marker {
  background-image: url('/images/map-icons/restaurant.svg');
} */

.property-marker {
  background-image: url('/images/map-icons/hotel-upright.svg');
}

.mapboxgl-popup-close-button {
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 0em;
  padding: 1px 6px;
}

.map-popup-headline {
  /* margin-top: 0.5rem; */
  font-size: 2rem;
}

.map-popup-text {
  font-size: 1.5rem;
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .map-and-text {
    flex-direction: column-reverse;
  }

  .no-padding {
    width: 100%;
  }

  #portfolio-map {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
  }

  .mapboxgl-canvas-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
}