@media screen and (max-width: 849px) {
  .buffer {
    margin-top: 2rem;
  }
}

.slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.brand-partner-image {
  max-width: 100%;
}