<link rel="stylesheet" href="/css/about/timeline.min.css">

<div class="timeline container">
  <perch:if exists="timeline_headline">
    <div class="timeline-introduction">
      <h2 class="timeline-headline"><perch:content type="text" id="timeline_headline" label="Timeline Headline" /></h2>
      <div class="h-under-center"></div>
    </div>
  </perch:if>
  <div class="timeline-wrapper">
    <perch:repeater id="timeline_item" label="Timeline Item">
      <div class="year">
        <img class="timeline-year-image" src='<perch:content type="image" id="timeline_image" label="Timeline Image" />'
          alt='<perch:content type="text" id="timeline_image_alt" label="Timeline Image Alt Tag" />'>
        <div class="image-overlay"></div>
        <p class="timeline-year-text">
          <perch:content id="timeline_year" type="text" label="Year" />
        </p>
      </div>
      <div class="spacer">
        <div class="horizontal-line"></div>
        <div class="vertical-line"></div>
      </div>
      <div class="content">
        <perch:content class="slide-content-body" id="timeline_body" type="textarea" label="Timeline Body" html="true"
          markdown editor="redactor" />
      </div>
    </perch:repeater>
  </div>
</div>

<script src="/scripts/about/timeline.min.js"></script>
