<perch:if different="propertybrand">
  <button 
    class="btn button button-secondary brand-filter" 
    id="<perch:content id="propbrandfilter" type="composite" for="propertybrand" format="C:3">"
  >
    <perch:content type="text" id="propertybrand" label="Property Brand" required>
  </button>
</perch:if>