<link rel="stylesheet" href="/css/career/expectations.min.css">

<div class="grid">
  <div class="process">
    <h2 class="headline">
      <perch:content type="text" id="process_headline" label="Process Headline" />
    </h2>
    <div class="points">
      <div class="point-wrapper">
        <img class="background-image" src='<perch:content type="image" id="point_background_image_1" label="Point Background Image 1" />' alt='<perch:content type="text" id="point_background_image_1_alt" label="Point Background Image 1 Alt Text" />'>
        <div class="background-image-overlay"></div>
        <div class="point">
        <perch:content class="point" type="textarea" id="process_step_1" label="Process Step 1" html="true" markdown
          editor="redactor" />
        </div>
      </div>
      <div class="point-wrapper">
        <img class="background-image" src='<perch:content type="image" id="point_background_image_2" label="Point Background Image 2" />' alt='<perch:content type="text" id="point_background_image_2_alt" label="Point Background Image 2 Alt Text" />'>
        <div class="background-image-overlay"></div>
        <div class="point">
        <perch:content class="point" type="textarea" id="process_step_2" label="Process Step 2" html="true" markdown
          editor="redactor" />
        </div>
      </div>
      <div class="point-wrapper">
        <img class="background-image" src='<perch:content type="image" id="point_background_image_3" label="Point Background Image 3" />' alt='<perch:content type="text" id="point_background_image_3_alt" label="Point Background Image 3 Alt Text" />'>
        <div class="background-image-overlay"></div>
        <div class="point">
        <perch:content type="textarea" id="process_step_3" label="Process Step 3" html="true" markdown
          editor="redactor" />
        </div>
      </div>
    </div>
  </div>
  <div class="expectations">
    <h2 class="headline">
      <perch:content type="text" id="expectations_headline" label="Expectations Headline" />
    </h2>
    <div class="lists">
      <div class="list-wrapper">
        <perch:repeater id="expectations_list_1" label="Expectations List 1">
          <perch:before>
            <ul class="expectations-list">
          </perch:before>
          <li class="expectations-list-item">
            <perch:content id="list_item_list_1" type="text" label="List Item" />
          </li>
          <perch:after>
            </ul>
          </perch:after>
        </perch:repeater>
      </div>
      <div class="list-wrapper">
        <perch:repeater id="expectations_list_2" label="Expectations List 2">
          <perch:before>
            <ul class="expectations-list">
          </perch:before>
          <li class="expectations-list-item">
            <perch:content id="list_item_list_2" type="text" label="List Item" />
          </li>
          <perch:after>
            </ul>
          </perch:after>
        </perch:repeater>
      </div>
    </div>
  </div>
</div>