<h3>
  <perch:content type="text" id="companyname" label="Company Name" />
</h3>
<div class="offices-container">
  <div class="office-one">
    <b>
      <p>
        <perch:content type="text" id="companyofficename1" label="Company Office Title 1" />
      </p>
    </b>
    <p>
      <perch:content type="text" id="companyoffice1" label="Company Office Location Address 1" suppress/>
    </p>
    <perch:content type="text" id="companylatlong1" label="Company Office Latitude/Longitude 1" suppress />
    <p>
      <perch:content type="text" id="companyphone1" label="Company Office Phone Number 1" />
    </p>
  </div>
  <div class="office-two">
    <b>
      <p>
        <perch:content type="text" id="companyofficename2" label="Company Office Title 2" />
      </p>
    </b>
    <p>
      <perch:content type="text" id="companyoffice2" label="Company Office Location Address 2" suppress/>
    </p>
    <perch:content type="text" id="companylatlong2" label="Company Office Latitude/Longitude 2" suppress />
    <p>
      <perch:content type="text" id="companyphone2" label="Company Office Phone Number 2" />
    </p>
  </div>      
</div>
    
<a href="https://www.facebook.com/spirehotels/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-square"></i></a> 
<a href="https://www.linkedin.com/company/spirehotels/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
<a href="https://www.instagram.com/spirehotels/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
 