	<h2><perch:content id="heading" type="text" label="Contact Form Heading" required="true" /></h2>
					
				<perch:form id="form-contact" method="post" app="perch_forms" role="form" action="contact">
					
					
					<div class="input<perch:error for="name" type="required"> error</perch:error>">
						<perch:label for="name">Name:</perch:label>
						<perch:input id="name" type="text" required="true" label="Name" class="u-full-width"/>
						<perch:error for="name" type="required"> 
						<p class="about-error">Please enter your name</p>
						</perch:error>
					</div>
					
					<div class="input<perch:error for="email" type="required"> error</perch:error><perch:error for="email" type="format"> error</perch:error>">
						<perch:label for="email">Email:</perch:label>
						<perch:input id="email" type="email" required="true" label="Email" class="u-full-width"/>
						<perch:error for="email" type="required"> 
						<p class="about-error">Please enter your email address</p>
						</perch:error>
						<perch:error for="email" type="format"> 
						<p class="about-error">Please enter a valid email address</p>
						</perch:error>
					</div>
					
					<div class="input<perch:error for="message" type="required"> error</perch:error>">
						<perch:label for="message">Message:</perch:label>
						<perch:input id="message" type="textarea" required="true" label="Message" rows="18" class="u-full-width"/>
						<perch:error for="message" type="required"> 
						<p class="about-error">Please enter your message</p>
						</perch:error>
					</div>
					
					<perch:input type="submit" id="submit" value="Send" />

					<perch:success>
						<div class="alert success">
							<perch:content id="success" type="textarea" size="m" label="Thank you message" markdown="true" editor="simplemde" required="true" />
						</div>
					</perch:success>

				</perch:form>