<h2><perch:content type="text" id="companyname" label="Company Name"></h2>
<b><p><perch:content type="text" id="companyofficename1" label="Company Office Title 1"></p></b>
<p><perch:content type="text" id="companyoffice1" label="Company Office Location Address 1" suppress></p>	
<perch:content type="text" id="companylatlong1" label="Company Office Latitude/Longitude 1" suppress>
<p><perch:content type="text" id="companyphone1" label="Company Office Phone Number 1"></p>

<br><br>  
<b><p><perch:content type="text" id="companyofficename2" label="Company Office Title 2"></p></b>
<p><perch:content type="text" id="companyoffice2" label="Company Office Location Address 2" suppress></p>	
<perch:content type="text" id="companylatlong2" label="Company Office Latitude/Longitude 2" suppress>
<p><perch:content type="text" id="companyphone2" label="Company Office Phone Number 2"></p>