<style>
.contentbg<perch:content id="_id" type="hidden"> {
  background: #efefef url('<perch:content id="backgroundimage" type="image" label="Section Image">') no-repeat 0 0;
  padding-top: 120px;
  background-size:cover;
}
</style>
<div class="l-flex-fix">
<div class="l-flex-parent">
	<div class="contentbg<perch:content id="_id" type="hidden"> l-flex-child l-grid-half animated"  data-sal="slide-right" data-sal-easing="ease-in-out" data-sal-duration="1000">	
	  
  </div>
  
  
  <div class="t-white r-flex-child l-grid-half">
    <div class="joinus">
      <h2><perch:content id="sectiontitle" type="text" label="Section Title" required></h2>
      <div class="h-under"></div>
      <perch:content id="sectionbody" type="textarea" label="Section Body" html="true" markdown editor="redactor">
      <perch:if exists="page1"><a class="button button-primary" href="<perch:content id="page1" type="pagelist" label="Link to page" replace=".php|" />"><perch:content id="button1text" type="text" label="Button Text" help="e.g More Details" /></a></perch:if>
   </div>
  </div>
  
  
</div>
</div>