<p class="left-column-text"><perch:content id="footer_logo_text" label="Footer Logo Text"></perch:content></p>

<a href="<perch:content id="logo_link" type="url" label="Link To">" target="_blank" rel="noopener noreferrer">
  <img class="footer-logo" src="<perch:content id="logo" type="image" label="Logo">" alt="">
</a>

