         <h2><perch:content id="sectiontitle" type="text" label="Section Title" required></h2>
         <div class="h-under"></div>
         <perch:content id="sectionbody" type="textarea" label="Section Body" html="true" markdown editor="redactor">
         	<div class="center"><perch:if exists="page1"><a class="button button-primary center" href="<perch:content id="page1" type="pagelist" label="Link to page" replace=".php|" />"><perch:content id="button1text" type="text" label="Button Text" help="e.g More Details" /></a></perch:if></div>

