<style>
.contentbg<perch:content id="_id" type="hidden"> {
  background: #efefef url('<perch:content id="backgroundimage" type="image" label="Section Image">') no-repeat bottom center;
  padding-top: 100px;
  background-size:cover;
}

.lf-container {
    padding: 0 50px 0 20px;
    float: right;
}
</style>
<div class="l-flex-fix">
	<div class="l-flex-parent">
		
		
			<div class="t-white l-flex-child l-grid-half" style="background: url('/images/spire-mark.png') no-repeat 50% 0%; background-size: contain; ">
			<div class="joinus">
				<h1><perch:content id="sectiontitle" type="text" label="Section Title" required></h1>
				<div class="h-under"></div>
				<perch:content id="sectionbody" type="textarea" label="Section Body" html="true" markdown editor="redactor">
				<perch:if exists="page1"><a class="button button-primary" href="<perch:content id="page1" type="pagelist" label="Link to page" replace=".php|" />"><perch:content id="button1text" type="text" label="Button Text" help="e.g More Details" /></a></perch:if>
			</div>
	
		</div>
		
		<div class="contentbg<perch:content id="_id" type="hidden"> l-flex-child l-grid-half animated"  data-sal="slide-left" data-sal-easing="ease-in-out" data-sal-duration="1000">	
		</div>
	</div>
</div>