<link rel="stylesheet" type="text/css" href="/css/home/hover-box.min.css" />
<div class="hover-boxes-wrapper">
  <perch:repeater id="hover_boxes" label="Hover Boxes">
    <a class="hover-box-anchor" href='<perch:content id="hover_box_link" type="text" label="Hover Box Link" />'>
      <div class="hover-box">
        <img class="hover-box-image" src='<perch:content type="image" id="hover_box_image" label="Hover Box Image" />'
          alt='<perch:content type="text" id="hover_box_image_alt" label="Hover Box Image Alt Tag" />'>
        <div class="hover-box-image-overlay"></div>
        <div class="hover-box-inner-wrapper">
          <h3 class="hover-box-headline">
            <perch:content id="hover_box_text_hovered" type="text" label="Hover Box Text Hovered" />
          </h3>
          <p class="hover-box-text">
            <perch:content id="hover_box_text_normal" type="text" label="Hover Box Text Normal" />
          </p>
        </div>
      </div>
    </a>
  </perch:repeater>
</div>