<div class="three columns">
   <div class="service">
      <div class="small-block" data-sal="zoom-in" data-sal-easing="ease-in-out" data-sal-duration="1000"><img src="<perch:content id="service_icon" type="image" label="Service Icon" >"></div>
      <perch:content type="text" id="servicetitle" label="Service Title">
   </div>
   <a href="/spire-hospitality-services#item<perch:content id="perch_item_index" type="hidden">" class="arrow">
      <div class="service-button">Learn More</div>
   </a>
</div>         	

        
