<perch:blocks>
 
	<perch:block type="leftimgtxtright" label="Left Sliding Image - Text Right">
		<div class="row">
			<div class="twelve columns">		
				<style>
				.contentbg<perch:content id="perch_item_index" type="hidden"> {
				  background: #efefef url('<perch:content id="backgroundimage" type="image" label="Section Image">') no-repeat 0 0;
				  padding-top: 120px;
				  background-size:cover;
				}
				</style>
				<div class="l-flex-fix">
					<div class="l-flex-parent">
						<div class="contentbg<perch:content id="perch_item_index" type="hidden"> l-flex-child l-grid-half"  data-sal="slide-right" data-sal-easing="ease-in-out" data-sal-duration="1000"></div>		  
					  <div class="t-white r-flex-child l-grid-half">
					    <div class="joinus">
					      <h<perch:content id="headingtype1" type="select" label="Heading Type" options="Heading 1|1, Heading 2|2, Heading 3|3" allowempty="false" required>><perch:content id="sectiontitle" type="text" label="Section Title" required></h<perch:content id="headingtype1" type="select" label="Heading Type" options="Heading 1|1, Heading 2|2, Heading 3|3" allowempty="false" required>>
					      <div class="h-under"></div>
					      <perch:content id="sectionbody" type="textarea" label="Section Body" html="true" markdown editor="redactor">
					      <perch:if exists="page1"><a class="button button-primary" href="<perch:content id="page1" type="pagelist" label="Link to page" replace=".php|" />"><perch:content id="button1text" type="text" label="Button Text" help="e.g More Details" /></a></perch:if>
					   </div>
					  </div>			  
					</div>
				</div>		
			</div>
		</div>
	</perch:block>

	<perch:block type="righimgtxtleft" label="Right Sliding Image - Text Left">
		<div class="row ltgrey">
			<div class="twelve columns">		
				<style>
				.contentbg<perch:content id="perch_item_index" type="hidden"> {
				  background: #efefef url('<perch:content id="backgroundimage" type="image" label="Section Image">') no-repeat 0 0;
				  padding-top: 120px;
				  background-size:cover;
				}
				</style>
				<div class="l-flex-fix">
					<div class="l-flex-parent">						  
					  <div class="t-white l-flex-child l-grid-half">
					    <div class="joinus">
					      <h<perch:content id="headingtype2" type="select" label="Heading Type" options="Heading 1|1, Heading 2|2, Heading 3|3" allowempty="false" required>><perch:content id="sectiontitle" type="text" label="Section Title" required></h<perch:content id="headingtype2" type="select" label="Heading Type" options="Heading 1|1, Heading 2|2, Heading 3|3" allowempty="false" required>>
					      <div class="h-under"></div>
					      <perch:content id="sectionbody" type="textarea" label="Section Body" html="true" markdown editor="redactor">
					      <perch:if exists="page1"><a class="button button-primary" href="<perch:content id="page1" type="pagelist" label="Link to page" replace=".php|" />"><perch:content id="button1text" type="text" label="Button Text" help="e.g More Details" /></a></perch:if>
					   </div>
					   
					   
					  </div>
					  <div class="contentbg<perch:content id="perch_item_index" type="hidden"> l-flex-child l-grid-half"  data-sal="slide-left" data-sal-easing="ease-in-out" data-sal-duration="1000"></div>				  
					</div>
				</div>		
			</div>
		</div>
	</perch:block>

  <perch:block type="content" label="Full Width Content with Header">
  	<div class="container">
  	<div class="row">
  		<div class="twelve columns p50 center">
  			<center><h<perch:content id="headingtype" type="select" label="Heading Type" options="Heading 1|1, Heading 2|2, Heading 3|3" allowempty="false" required>><perch:content type="text" id="heading" label="Heading"></h<perch:content id="headingtype" type="select" label="Heading Type" options="Heading 1|1, Heading 2|2, Heading 3|3" allowempty="false" required>></center><div class="h-under-center"></div>
  			<perch:content id="sectionbody" type="textarea" label="Section Body" html="true" markdown editor="redactor">  				
  		</div>
  	</div>
  	</div>

  </perch:block>
  
  
  <perch:block type="callout" label="Callout">
  	<div class="row">
  		<div class="twelve columns p50">
  			<blockquote><perch:content id="callout" type="textarea" label="Section Body" html="true" markdown editor="redactor"></blockquote>  				
  		</div>
  	</div>

  </perch:block>



  <perch:block type="table" label="Management History Table">




    	
 <div class="container"><div class="row"><div class="twelve columns  p50">
<table>
  <thead>
    <tr>
      <th>Property Name</th>
      <th>City</th>
      <th>State</th>
      <th>Rooms</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>   	
    	
    	

  <perch:repeater id="tablerow" label="Table Row" > 
   
    <tr>
      <td data-column="Property Name"><perch:content id="row1" type="text" label="Property Name" ></td>
			<td data-column="City"><perch:content id="row2" type="text" label="City" ></td>
      <td data-column="State"><perch:content id="row3" type="select" label="State" options="Alabama, Alaska, American Samoa, Arizona, Arkansas, California, Colorado, Connecticut, Delaware, District of Columbia, Florida, Georgia, Guam, Hawaii, Idaho, Illinois, Indiana, Iowa, Kansas, Kentucky, Louisiana, Maine, Maryland, Massachusetts, Michigan, Minnesota, Minor Outlying Islands, Mississippi, Missouri, Montana, Nebraska, Nevada, New Hampshire, New Jersey, New Mexico, New York, North Carolina, North Dakota, Northern Mariana Islands, Ohio, Oklahoma, Oregon, Pennsylvania, Puerto Rico, Rhode Island, South Carolina, South Dakota, Tennessee, Texas, U.S. Virgin Islands, Utah, Vermont, Virginia, Washington, West Virginia, Wisconsin, Wyoming" allowempty="false"></td>
      <td data-column="Rooms"><perch:content id="row4" type="text" label="Rooms" ></td>
      <td data-column="Type"><perch:content id="row5" type="select" label="Type" options="Branded, Independent, Restaurant & Bars"></td>
    </tr>
       
   
</perch:repeater>
    	
    	
    	
  </tbody>
</table>
</div></div></div>



  </perch:block>

  

</perch:blocks>
