<perch:content type="text" id="propertybrand" label="Property Brand" required suppress>
	<div class="card [ is-collapsed ] box brand-filter location-filter <perch:content id="propbrandfilter" type="composite" for="propertybrand" format="C:3"> <perch:content id="statefilter" type="composite" for="state" format="C:7" >" data-state="<perch:content id="statefilter" type="composite" for="state" format="C:7" >" data-brand="<perch:content id="propbrandfilter" type="composite" for="propertybrand" format="C:3">">
		<perch:if exists="longitude AND latitude">
			<div class="coordinates" 
				data-long='<perch:content id="longitude" type="text" label="Longitude" />'
				data-lat='<perch:content id="latitude" type="text" label="Latitude" />'
			>
			</div>
		</perch:if>
		<div class="card__inner [ js-expander ]">
			  <div class="overlay">
			  	<div class="oimg"><img src="<perch:content id="proplogo" type="image" label="White Brand Property Logo" help=".PNG with transparent background" required>"></div>
			  	<div class="otext"><perch:content id="propcity">, <perch:content id="state"></div>
			    
			  </div>
			<img src="<perch:content id="proppic" type="image" label="Property Image" crop="true" width="640" height="480">" width="100%">
		</div>
		<div class="card__expander">
			<i class="fa fa-close [ js-collapser ]" aria-hidden="true"></i>
			<div class="innercard"><img src="<perch:content id="proppic" type="image" label="Property Image" crop="true" width="960" height="640" order="1">" width="100%"></div>
			<div class="innercard intext">
			
			<div class="intexthead name-wrapper"><h3 class="location-name"><perch:content id="propname" type="text" label="Property Name" title="true" order="2" required></h3></div>
		<div class="intexthead address-wrapper"><perch:if exists="propaddress"><p class="location-address"><perch:content id="propaddress" type="text" label="Property Address" help="Example: 123 Main St." order="3"></perch:if><perch:if exists="propcity">, <perch:content id="propcity" type="text" label="Property City" order="4"></perch:if><perch:if exists="state">, <perch:content id="state" type="select" label="State" options="Alabama, Alaska, American Samoa, Arizona, Arkansas, California, Colorado, Connecticut, Delaware, District of Columbia, Florida, Georgia, Guam, Hawaii, Idaho, Illinois, Indiana, Iowa, Kansas, Kentucky, Louisiana, Maine, Maryland, Massachusetts, Michigan, Minnesota, Minor Outlying Islands, Mississippi, Missouri, Montana, Nebraska, Nevada, New Hampshire, New Jersey, New Mexico, New York, North Carolina, North Dakota, Northern Mariana Islands, Ohio, Oklahoma, Oregon, Pennsylvania, Puerto Rico, Rhode Island, South Carolina, South Dakota, Tennessee, Texas, U.S. Virgin Islands, Utah, Vermont, Virginia, Washington, West Virginia, Wisconsin, Wyoming" allowempty="false" order="5" required></perch:if><perch:if exists="propzip"> <perch:content id="propzip" type="text" label="Zip Code" order="6"></perch:if></div><div class="intexthead"><perch:if exists="propphone"><perch:content id="propphone" type="text" label="Property Phone Number" help="Example: (555) 555-5555" order="6"></p></perch:if></div>
			<perch:if exists="propinfo"><perch:content id="propinfo" type="textarea" label="Property Information" html="true" markdown editor="redactor"></perch:if>
			<perch:if exists="propurl"><div class="intexthead"><a class="button button-primary2" href="<perch:content id="propurl" type="text" label="Property Website URL" >" target="_blank">Visit Website</a></div></perch:if>
			<perch:content id="hotel" type="checkbox" label="This is a Branded Hotel" value="hotel" suppress>
			</div>
		</div>
	</div>


	
	