<link rel="stylesheet" href="css/portfolio/header.min.css">
<script src="scripts/portfolio/map.min.js"></script>

<div class="first map-housing section ltgrey">
  <div class="row">
    <div class="l-flex-fix">
      <div class="l-flex-parent map-and-text">
        <div id="portfolio-map" class="l-grid-half"></div>
        <div class="t-white r-flex-child no-padding l-grid-half">
          <div class="small-padding">
            <h2>
              <perch:content id="sectiontitle" type="text" label="Section Title" required />
            </h2>
            <div class="h-under"></div>
            <perch:content id="sectionbody" type="textarea" label="Section Body" html="true" markdown
              editor="redactor" />
            <perch:if exists="page1">
              <a class="button button-primary"
                href='<perch:content id="link" type="pagelist" label="Link to page" replace=".php|" />'>
                <perch:content id="button1text" type="text" label="Button Text" help="e.g More Details" />
              </a>
            </perch:if>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>