<perch:content type="text" id="companyname" label="Company Name">

<perch:content type="text" id="companyoffice1" label="Company Office Location Address One">	
<perch:content type="text" id="companylatlong1" label="Company Office Latitude/Longitude One">
<perch:content type="text" id="companyphone1" label="Company Office Phone Number One">
	
<perch:content type="text" id="companyoffice2" label="Company Office Location Address Two">	
<perch:content type="text" id="companylatlong2" label="Company Office Latitude/Longitude Two">
<perch:content type="text" id="companyphone2" label="Company Office Phone Number Two">