<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<link rel="stylesheet" href="/css/services/approach.min.css">

<div class="approach">
  <h2 class="main-heading">
    <perch:content type="text" id="heading" label="Main Heading" />
  </h2>
  <div class="h-under-center"></div>
  <div class="approach-slider">
    <perch:repeater id="slides" label="Slides">
      <div class="slide">
        <img class="slider-image" src='<perch:content id="slider_image" type="image" label="Slider Image" />'
          alt='<perch:content id="slider_alt" type="text" label="Slider Image Alt" />'>
        <div class="slide-content">
          <h2 class="slide-content-headline">
            <perch:content id="slider_headline" type="text" label="Slider Headline" />
          </h2>
          <section class="slide-content-body">
              <perch:content id="slider_body" type="textarea" label="Slider Body" html="true" markdown editor="redactor" />
          </section>          
        </div>
      </div>
    </perch:repeater>
  </div>
</div>

<script src="/scripts/services/slider.min.js"></script>