<link rel="stylesheet" href="/css/services/goal.min.css">
<script src="/scripts/services/contact-modal.min.js" async></script>

<div class="goal">
  <perch:block type="content" label="Blue Block">
    <div class="blue-block-wrapper">
      <div class="blue-bar-content">
        <h2 class="blue-bar-headline">
          <perch:content type="text" id="blue_block_headline" label="Blue Block Headline" />
        </h2>
        <div class="h-under-center"></div>
        <perch:content id="blue_block_body" type="textarea" label="Blue Block Body" html="true" markdown
          editor="redactor" />
      </div>
    </div>
  </perch:block>

  <perch:block type="content" label="Gray Block">
    <div class="gray-block-wrapper">
      <div class="gray-bar-content">
        <h2 class="gray-bar-headline">
          <perch:content type="text" id="gray_block_headline" label="Gray Block Headline" />
        </h2>
        <div class="h-under-center"></div>
        <perch:content id="gray_block_body" type="textarea" label="Gray Block Body" html="true" markdown
          editor="redactor" />
      </div>
    </div>
  </perch:block>

  <perch:block type="content" label="Goal Section">
    <div class="goal-section container">
      <h3>
        <perch:content type="text" id="goal_headline" label="Goal Headline" />
      </h3>
      <perch:content id="goal_body" type="textarea" label="Goal Body" html="true" markdown editor="redactor" />
    </div>
  </perch:block>

  <perch:block type="content" label="Contact Section"></perch:block>
  <div class="contact-section container">
    <p><strong>
        <perch:content id="contact_headline" type="text" label="Contact Headline" /></strong></p>
    <p>
      <button class="contact-person">
        <strong>
          <perch:content id="contact_name" type="text" label="Contact Name" />
        </strong>      
      </button>     
      <perch:if exists="contact_title">
      <br />
      </perch:if> 
      <perch:content id="contact_title" type="text" label="Contact Title" />
      <perch:if exists="contact_phone">
      <br />
      </perch:if>
      <perch:content id="contact_phone" type="text" label="Contact Phone" />
      <perch:if exists="contact_email">
      <br />
      </perch:if>
      <perch:content id="contact_email" type="text" label="Contact Email" />
    </p>
  </div>
  </perch:block>
</div>