<link rel="stylesheet" href="css/services/accordion.min.css">

<div class="services section white p50">
	<div class="services-headline-wrapper">
		<h2><perch:content id="service_headline" type="text" label="Service Headline" title="true" /></h2>
		<div class="h-under-center"></div>
	</div>
	<div class="services" id="accordion">
		<perch:repeater id="services" label="Services">
			<h3 class="service-accordion-header">
				<perch:content id="servicetitle" type="text" label="Service Title" title="true" />
			</h3>
			<div class="service-accordion-body">
				<perch:content id="servicebody" type="textarea" label="Service Description" markdown html="true"
					editor="redactor" />
			</div>
		</perch:repeater>
	</div>
</div>

<script src="/scripts/services/accordion.min.js"></script>