<link rel="stylesheet" href="/css/services/contact-modal.min.css">

<div class="contact-modal-wrapper">
  <div class="contact-modal-overlay"></div>
  <div class="contact-modal-form">
    <perch:form id="contact-modal" method="post" app="perch_forms" role="form" action="spire-hospitality-services?submission=success">
      <div class='input<perch:error for=" name" type="required"> error</perch:error>'>
        <perch:label for="name" class="contact-modal-label">Name:</perch:label>
        <perch:input id="name" type="text" required="true" label="Name" class="u-full-width" />
        <perch:error for="name" type="required">
          <p class="about-error">Please enter your name</p>
        </perch:error>
      </div>

      <div class='input<perch:error for=" email" type="required"> error</perch:error> <perch:error for="email" type="format"> error</perch:error>'>
        <perch:label for="email" class="contact-modal-label">Email:</perch:label>
        <perch:input id="email" type="email" required="true" label="Email" class="u-full-width" />
        <perch:error for="email" type="required">
          <p class="about-error">Please enter your email address</p>
        </perch:error>
        <perch:error for="email" type="format">
          <p class="about-error">Please enter a valid email address</p>
        </perch:error>
      </div>

      <div class='input<perch:error for=" message" type="required"> error</perch:error>'>
        <perch:label for="message" class="contact-modal-label">Message:</perch:label>
      <perch:input id="message" type="textarea" required="true" label="Message" rows="18" class="u-full-width" />
        <perch:error for="message" type="required">
          <p class="about-error">Please enter your message</p>
        </perch:error>
      </div>

      <perch:input type="submit" id="submit" value="Send" class="contact-modal-submit"/>

      <perch:success>
        <div class="modal-success-alert">
          <perch:content id="success" type="textarea" size="m" label="Thank you message" markdown="true" editor="simplemde" required="true" />
        </div>
      </perch:success>
    </perch:form>
  </div>
</div>