<link rel="stylesheet" type="text/css" href="/css/home/slider.min.css" />

<div class="showcase-slider">
  <img class="slider-image" src='<perch:content id="slide1" type="image" label="Slider Image 1">'
    alt='<perch:content id="slider1alt" type="text" label="Slider Image 1 Description">'>
  <img class="slider-image" src=' <perch:content id="slide2" type="image" label="Slider Image 2">'
    alt='<perch:content id="slider2alt" type="text" label="Slider Image 2 Description">'>
  <img class="slider-image" src='<perch:content id="slide3" type="image" label="Slider Image 3">'
    alt='<perch:content id="slider3alt" type="text" label="Slider Image 3 Description">'>
</div>

<script src="/scripts/home/slider.min.js"></script>