<perch:if different="state">
    <button class="btn button button-secondary state-filter"
        id="<perch:content id="statefilter" type="composite" for="state" format="C:7">"
    >
        <perch:content id="state">    
    </button>
</perch:if>