<perch:content id="showing" type="checkbox" label="Show On Website" value="0" suppress></perch:content>
<perch:if exists="showing">
<div class="   card [ is-collapsed ] ">
	<div class="card__inner [ js-expander ]">
		<div class="overlay">
			   <perch:content id="teamname" type="text" label="Team Member Name" title="true" required>
			  </div>
		<img src="<perch:content id="teampicture" type="image" label="Team Member Headshot" crop="true" width="600" height="600">" width="100%">
	</div>
	<div class="card__expander">
		<i class="fa fa-close [ js-collapser ]"></i>
		<div class="innercard"><img src="<perch:content id="teampicture" type="image" label="Team Member Headshot" crop="true" width="960" height="960" order="1">" width="100%"></div>
		<div class="innercard intext">
			<div class="intexthead"><h3><perch:content id="teamname" type="text" label="Team Member Name" title="true" required></h3></div>
			<h4><perch:content id="teamtitle" type="text" label="Team Member Title" ></h4>
			<perch:content id="teambio" type="textarea" label="Team Member Bio" html="true" markdown editor="redactor">
			<perch:if exists="teamlinkedin"><a href="<perch:content id="teamlinkedin" type="text" label="Team Member Linkedin URL" >" target="_blank"><img src="/images/linkedin.png" class="linkedin"></a></perch:if>
		</div>
	</div>
</div>

<perch:content id="position" type="select" label="Company Position" options="Board of Directors, Executive Team, AWH Development, Operations Team, Sales Marketing Team, Human Resources Team, Accounting & Finance" allowempty="false" required suppress>
</perch:if>