.hover-boxes-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hover-box-anchor {
  width: calc(100% / 3);
  /* display: flex; */

  margin: 0.5rem;
}

.hover-box-anchor:first-of-type {
  margin-left: 0;
}

.hover-box-anchor:last-of-type {
  margin-right: 0;
}

.hover-box {
  box-sizing: border-box;
  /* width: 400px;
  height: 400px; */
  position: relative;

  /* padding: 2rem; */

  overflow: hidden;

  /* width: 100%; */

}

.hover-box-image {
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  z-index: 0;
  width: 100%;
  height: auto;
  display: block;
}

.hover-box-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: background 1s ease-in-out;
}

.hover-box:hover>.hover-box-image-overlay,
.hover-box-anchor:focus>.hover-box>.hover-box-image-overlay {
  background: rgba(0, 0, 0, 0.8);
}

.hover-box-inner-wrapper {
  box-sizing: border-box;
  z-index: 2;
  position: absolute;

  height: calc(100% - 2rem);
  width: calc(100% - 2rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hover-box-text {
  box-sizing: border-box;
  bottom: 2rem;
  color: white;
  position: absolute;
  margin: 0;
}

.hover-box-headline {
  margin: 0;
  position: absolute;
  top: 2rem;
  left: 2rem;
}

@media screen and (min-width: 989px) {
  .hover-box-inner-wrapper {
    animation-name: fade-out-border;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  .hover-box:hover>.hover-box-inner-wrapper,
  .hover-box-anchor:focus>.hover-box>.hover-box-inner-wrapper {
    animation-name: fade-in-border;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes fade-in-border {
    0% {
      border: 0.5rem solid transparent;
    }
  
    100% {
      border: 0.5rem solid white;
    }
  }
  
  @keyframes fade-out-border {
    0% {
      border: 0.5rem solid white;
    }
  
    100% {
      border: 0.5rem solid transparent;
    }
  }

  .hover-box-text {  
    animation-name: in-from-top;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  .hover-box:hover>.hover-box-inner-wrapper>.hover-box-text,
  .hover-box-anchor:focus>.hover-box>.hover-box-inner-wrapper>.hover-box-text {
    animation-name: out-to-bottom;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes in-from-top {
    0% {
      transform: translateY(-1000%);
    }
  
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes out-to-bottom {
    0% {
      transform: translateY(0);
    }
  
    100% {
      transform: translateY(300%);
    }
  }

  .hover-box-headline {
    word-spacing: 100vw;
    animation-name: out-to-left;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  .hover-box:hover>.hover-box-inner-wrapper>.hover-box-headline,
  .hover-box-anchor:focus>.hover-box>.hover-box-inner-wrapper>.hover-box-headline {
    animation-name: in-from-right;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes in-from-right {
  
  
    0% {
      transform: translateX(100%);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes out-to-left {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(-100%);
    }
  }
}

@media screen and (max-width: 988px) {
  .hover-box-text {
    transform: translateY(300%);
  }

  .hover-box-inner-wrapper {
    border: 0.5rem solid #156296;
    align-items: center;
  }

  .hover-box-headline {
    font-size: 2.5rem;
    position: relative;
    color: white;
    top: unset;
    left: unset;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .hover-boxes-wrapper {
    flex-direction: column;
  }

  .hover-box-anchor {
    width: 100%;
    margin: 0;
    padding: 1rem 0
  }
}