.grid {
  box-sizing: border-box;
  display: grid;
  grid-template: auto auto / 100%;
  padding: 2rem;

  width: 80%;
  margin: 0 auto;
}

.headline {
  text-align: center;
  margin: 2rem;
}

.process {
  box-sizing: border-box;
}

.points {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.point-wrapper {
  box-sizing: border-box;
  /* width: calc(100% / 3); */
  /* padding: 1rem; */
  /* background: rgba(0,0,0,0.5); */
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
  position: relative;
}

.background-image {
  z-index: 0;
  width: 100%;
  height: auto;
  display: block;
}

.background-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.point {
  position: absolute;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%,-50%);
  border: 0.5rem solid white;
  box-sizing: border-box;
  /* background: #156296; */
  /* background: #364154; */
  /* background: rgba(0,0,0,0.8); */
  /* border-radius: 2rem; */
  padding: 2rem;
  font-size: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.point>p {
  margin-bottom: 0;
}

.expectations {
  box-sizing: border-box;
}

.lists {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}

.list-wrapper {
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {

  .grid {
    width: 100%;
  }

  .expectations {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1023px) {

  .points {
    flex-direction: column;
    align-items: center;
  }

  .point-wrapper {
    width: 50%;
    margin: 0.5rem 0;
  }

  .point-wrapper:first-of-type {
    margin-top: 0;
  }

  .point-wrapper:last-of-type {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 989px) {
  .lists {
    flex-direction: column;
  }

  .list-wrapper:first-of-type > .expectations-list {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .point-wrapper {
    width: 100%;
  }
}