.section {
  padding-bottom: 0;
  padding-top: 0;
}

.team-cards-container .button {
  padding: 1.5rem;
  white-space: normal;
  height: auto;
  line-height: 1.5rem;
}

.leadership-team-container,
.team-header-container,
.board-container {
  width: 80%;
  margin: 3rem auto 0 auto;
}

.team-cards-container {
  box-sizing: border-box;
  display: grid;
  /* grid-template-columns: repeat(5,20%); */
  grid-template-columns: repeat(4,25%);

  width: 80%;
  margin: 0 auto 2rem auto;
  align-items: center;
}

.team-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.team-card.is-collapsed .team-card-expander {
  max-height: 0;
  min-height: 0;
  overflow: hidden;
  margin-top: 0;
  opacity: 0;
}

.team-card-inner:hover {
  cursor: pointer;
}

.team-card {
  
  box-sizing: border-box;
  /* border: 1px solid pink; */
  display: flex;
  flex-direction: column;
  height: 100%;
}

.team-card-inner {
  box-sizing: border-box;
  /* border: 1px solid red; */
  justify-self: flex-start;
  align-self: center;
}

.team-card-expander {
  box-sizing: border-box;
  /* border: 1px solid green; */
  transition: all 0.2s ease-in-out;
  margin-top: 2rem;
  justify-self: flex-end;
}

.team-card-inner:after {
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 1170px) {
  .team-card-expander {
    /* width: 500%; */
    width: 400%;
  }

  .team-card:nth-of-type(5n + 2) .team-card-expander {
    margin-left: -100%;
  }

  .team-card:nth-of-type(5n + 3) .team-card-expander {
    margin-left: -200%;
  }

  .team-card:nth-of-type(5n + 4) .team-card-expander {
    margin-left: -300%;
  }
}

@media screen and (max-width: 1169px) {
  .team-cards-container {
    grid-template-columns: 100%;
  }
  .team-card-inner,
  .team-cards-container .button {
    width: 100%;
    border-radius: 0;
  }
}

@media screen and (max-width: 1024px) {
  .leadership-team-container,
  .team-header-container,
  .board-container,
  .team-cards-container {
    width: 90%;
  }
}

/* .leadership-container {
  display: grid;
  grid-column-gap: 2rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "executive-group directors-group development-group"
    "executive-cards directors-cards development-cards";
  width: 80%;
  margin: 0 auto;
}

.leadership-group:nth-of-type(3n + 1) {
  grid-area: executive-group;
}

.leadership-group:nth-of-type(3n + 2) {
  grid-area: directors-group;
}

.leadership-group:nth-of-type(3n + 3) {
  grid-area: development-group;
}

.leadership-cards:nth-of-type(3n + 1) {
  grid-area: executive-cards;
}

.leadership-cards:nth-of-type(3n + 2) {
  grid-area: directors-cards;
}

.leadership-cards:nth-of-type(3n + 3) {
  grid-area: development-cards;
}

.leadership-group {
  box-sizing: border-box;
  padding: 1rem 10px;
}

.leadership-cards {
  box-sizing: border-box;
}

.leadership-cards .overlay {
  text-align: center;
  font-size: 2rem;
}

.button-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
} 

@media screen and (max-width: 1764px) {
  .leadership-container {
    width: 90%;
  }
}

@media screen and (max-width: 1366px) {
  .button-row {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1365px) {
  .leadership-container {
    grid-template-areas:
      "executive-group"
      "executive-cards"
      "directors-group"
      "directors-cards"
      "development-group"
      "development-cards";
  }
}

@media screen and (max-width: 1024px) {
  .button-section,
  .return-button {
    display: none;
  }  
} */