.timeline {
  box-sizing: border-box;
}

.timeline-introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeline-wrapper {
  display: grid;
  grid-template-columns: 1fr 0.25fr 1fr;
  width: 100%;
}

.year,
.content {
  display: grid;
  align-items: center;
  /* border: 1rem solid white; */
  margin: 1rem 0;
}

.year>p {
  margin: 0;
}

.year {
  position: relative;
  overflow: hidden;
  /* border-radius: 50%; */
  border-radius: 2rem;
  justify-items: center;
  align-items: center;
}

.image-overlay,
.timeline-year-image {
  position: absolute;
}

.image-overlay {
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.timeline-year-image {
  z-index: -2;
  /* filter: blur(2px); */
  /* width: 100%; */
  /* min-width: 100%;
  min-height: 100%; */
}

.timeline-year-text {
  font-size: 3rem;
  color: white;
}

.spacer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.horizontal-line,
.vertical-line {
  position: absolute;
  box-sizing: border-box;
  border: 0.25rem solid #DB3332;

}

.horizontal-line {
  width: 100%;
}

.vertical-line {
  height: 100%;
}

.spacer.first-spacer>.vertical-line {
  top: 50%;
}

.spacer.last-spacer>.vertical-line {
  top: -50%;
}

.content {
  color: white;
  background: #156296;
  padding: 2rem;
  font-size: 2rem;
  border-radius: 2rem;
}

.content>p {
  margin: 1rem;
}

.even {
  color: #364154;
  background-color: rgb(242, 242, 242);
}

@media screen and (max-width: 1023px) {
  .timeline {
    display: none;
  }
}